In [3]:
import numpy as np
import pandas as pd

In [7]:
transactions_df = pd.read_excel('data/raw/SIBS_Analytics_Freguesias_detalhado_20220818.xlsx')

In [8]:
transactions_df.head()

,Ano/Mês,Tipo de dia,País do cartão,Setor,Freguesia,Nº de operações,Valor das operações
0,Mai 22,Dia da Semana,Andorra,Restaurantes,ARU/ORU do Centro Histórico,15,356.05
1,Mai 22,Dia da Semana,Andorra,Restaurantes,"União das freguesias de Cedofeita, Santo Ildef...",29,780.76
2,Mai 22,Dia da Semana,Andorra,"Bares, Cafés e Similares","União das freguesias de Cedofeita, Santo Ildef...",20,467.45
3,Mai 22,Dia da Semana,Angola,"Tecnologia, Electrónica e Electrodomésticos","União das freguesias de Cedofeita, Santo Ildef...",17,2572.55
4,Mai 22,Dia da Semana,Angola,Vestuário,"União das freguesias de Cedofeita, Santo Ildef...",63,8865.15